

.back-btn {
    background-color: #556b2f ;
    padding: 3% 10%;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    margin: 5%;
  }


.verify-btn{
    background-color: #556b2f ;
    padding: 3% 10%;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    margin: 5%;
}

.resend-OTP{
    background-color: #556b2f ;
    padding: 3% ;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

@media screen and (max-width: 500px){

}