.Container{
    margin: 5%;
}

.input-with-icon {
    position: relative;
  }
  
  .field-icon {
    position: absolute;
    right: 20%; 
    top: 52%;    
    transform: translateY(-40%);
    cursor: pointer;
  }

  .Profile_Data{
    margin: 5% 15%;
  }

  .button{
    background-color:  #556b2f ;
    color: white;
    border: none;
    border-radius: 25px;
  }

  .field-color{
    background-color: rgb(222, 224, 224);
  }
  