.Container{
    margin: 5%;
}

.input-with-icon {
    position: relative;
  }
  
  .field-icon {
    position: absolute;
    right: 10px;  /* Adjust the right value as needed */
    top: 50%;    /* Center the icon vertically */
    transform: translateY(-50%);
    cursor: pointer;
  }
  