.nav_container {
    background-color: #41b354;
    padding: 1.7vw;
    justify-content: space-evenly;
    display :flex;
    color:white;
    width: 100%; 
  }

  .nav_logo{
    font-family: 'Seaweed Script', cursive;
    font-weight: 700;
    font-size: 1.5vw;
    color: white;
  }

  .nav_btn{
    background-color: white;
    color: #41b354;
    border-radius: 25px;
    padding: 10% 20%;
  }

  .nav_btn:hover{
    background-color:#41b354;
    color: white;
    border-radius: 25px;
    padding: 10% 20%;
    border: 2px solid white;
    box-shadow: 0px 4px 4px rgba(12, 12, 12, 0.2);
  }

  .nav_btns{
    display: flex;
    gap: 3vw;
  }

  .nav_items{
    display: flex;
    gap: 3vw;
  }

  #text{
    color: white;
  }


 