.nav_container {
    background-color: #556b2f ;
    padding: 1.7vw;
    justify-content: space-evenly;
    display :flex;
    color:#d7eaa8 ;
    width: 100%; 
  }


  .nav_logo{
    font-family: 'Seaweed Script', cursive;
    font-weight: 700;
    font-size: 1.5vw;
    color: #d7eaa8 ;
  }

  .nav_btn{
    background-color: #d7eaa8;
    color: #556b2f ;
    border-radius: 25px;
    padding: 10% 15%;
  }

  .nav_btn:hover{
    background-color:#556b2f ;
    color: #d7eaa8 ;
    border-radius: 25px;
    border: 2px solid #d7eaa8 ;
  }

  .nav_btns{
    display: flex;
    gap: 3vw;
  }

  .nav_items{
    display: flex;
    gap: 3vw;
  }

  #text{
    color: #d7eaa8 ;
  }


@media screen and (max-width: 500px){
  .nav_btns{
    display: flex;
    gap: 3vw;
    font-size: 3vw;
  }

  .nav_items{
    display: flex;
    gap: 3vw;
    font-size: 3vw;
  }

  .nav_btn{
    background-color: #d7eaa8 ;
    color: #556b2f ;
    border-radius: 25px;
    padding: 1vw 3vw;
    font-size: 3vw;
  }

  .nav_logo{
    font-family: 'Seaweed Script', cursive;
    font-weight: 700;
    font-size: 1.5vw;
    color: #d7eaa8 ;
    font-size: 3vw;
  }

}

 