.section_title{
    color:black;
    text-align: center;
    font-weight: 500;
    margin-top: 5%;
    font-size: 3vw;
}

.section_subtitle{
    font-family: 'Seaweed Script', cursive;
    color: rgb(65, 179, 84);
    text-align: center;
    font-size: 2vw;
}

.Destinations_container{
    display: flex;
    margin: 1% 10% 10% 10%;
    flex-wrap: wrap;
}

.flex-item img {
    border-radius: 15px;
    border: none;
    width: 25vw;
    height: 20vw;
    filter: brightness(50%)
}

.flex-item {
    flex: 0 0 calc(33.33% - 10px); 
    margin: 5px;
    position: relative;
    text-align: center;
    color: white;
    font-weight: 500;
  }

  .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
  }

  @media screen and (max-width: 659px) {
    .flex-item img {
        border-radius: 15px;
        border: none;
        width: 35vw;
        height: 30vw;
        filter: brightness(50%)
    }

    .section_title{
        color:black;
        text-align: center;
        font-size: 10vw;
        font-weight: 500;
        margin-top: 5%;
    }
    
    .section_subtitle{
        font-family: 'Seaweed Script', cursive;
        font-size: 5vw;
        color: rgb(65, 179, 84);
        text-align: center;
    }
    
}


