.Margin {
  margin: 3% 10%;
  padding: 5%;
  background-color: #d7eaa8;
  box-shadow: 2px 2px 6px #ede7e7, -2px -2px 20px #556b2f;
}

.Photos_container {
  border: 2px dotted #556b2f;
  padding: 10%;
  margin: 5%;
}

.text-margin {
  margin: 0% 10%;
}

.Top-text{
  color: #556b2f;
  margin: 5% 10%;
}

.Top-text h3 {
  font-family: 'Seaweed Script', cursive;
  font-weight: 700;
  font-size: 2.5vw;
}

