.SignUp_Container {
  margin: 5% 30%;
  background-color: #d7eaa8;
  border: 2px solid #556b2f;
  border-radius: 15px;
  padding: 2% 5%;
}

.Title{
  text-align: center;
  margin-bottom: 20px;
}

.account a{
  font-weight: 750;
  color:  #556b2f;
}

.account{
  margin-left: 49%;
  font-style: italic;
}

.button_container button {
 background-color:  #556b2f;
 padding: 0.7vw 2vw ;
 border-radius: 25px;
 color: #d7eaa8;
 border: none;
 cursor: pointer;
}

.button_container button:hover{
color:  #556b2f;
 background-color: #d7eaa8;
 border: 1px solid rgb(196, 250, 205);
 transition: all 0.2s ease-out;
 box-shadow: 0px 4px 8px   #556b2f;
 top: -1vw;
}

.input-with-icon {
 position: relative;
}

.field-icon {
 position: absolute;
 right: 10px; 
 top: 50%;   
 transform: translateY(-50%);
 cursor: pointer;
}


@media screen and (max-width: 500px){
  .SignUp_Container {
    margin: 10% 20%;
    background-color: #d7eaa8;
    border: 2px solid #556b2f;
    border-radius: 15px;
    padding: 2% 5%;
    font-size: 3vw;
  }
  
  .account{
    margin-left: 2%;
    font-style: italic;
  }
}